<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://chatty-s3-cdn-bucket.s3.amazonaws.com/css/cosmo.min.css">
    <link rel="stylesheet" href="https://chatty-s3-cdn-bucket.s3.amazonaws.com/css/style.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="https://chatty-s3-cdn-bucket.s3.amazonaws.com/js/Frameworks.65e3df4bf52ae98c64fbc6550c91224121c9b098.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
      <div class="col-sm-4"><h1 class="pull-left">Chatty</h1></div>
      <div class="col-sm-4 col-sm-offset-4 top-margin">
        <div class="pull-right">
      <% if (isAuthenticated) { %>
        <%- partial('partials/user-loggedin') %>
      <% } else { %>
        <%- partial('partials/user-loggedout') %>
      <% } %>
        </div>
    </div>
  </div>
  <div class="row">
  <%- body %>
  </div>
</div>
<div class="container">
<small>Commit: 65e3df4bf52ae98c64fbc6550c91224121c9b098</small>
</div>
</body>
</html>
