<!DOCTYPE html>
<html>
<head>
 <title><%= title %></title>
 <link rel="stylesheet" href="css/style.css">
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cosmo/bootstrap.min.css"/>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-4"><h1>Chatty</h1></div>
    </div>
    <div class="row">
      <%- body %>
    </div>
  </div>
</body>
</html>