!!!
html
    head
    title= "Chatty"
    script(src='/chat.js')
    script(src='/socket.io/socket.io.js')
    body
        .hero-unit(style='width: 500px; height: 350px;')   
            #content(style='width: 500px; height: 300px; border: solid 1px #999; overflow-y: scroll;')
            .controls
                | Name: 
                input#name.span2(style='width:350px;')
                label Message:
                input#field(style='width:350px;')
                input#send(type='button', value='send')